body {
	background: linear-gradient(210deg, #F25022, #71AF10, #3985B5, #FFB901);
	background-size: 800% 800%;
	animation: gradient 20s ease infinite;
	min-height: 90vh;
}

@keyframes gradient {
    0%{background-position:14% 0%}
    50%{background-position:87% 100%}
    100%{background-position:14% 0%}
}

iframe {
	height: auto;
	width: 100vw;
	margin: auto;
}

.emo-container{
	position: absolute;
	z-index: 9990;
	height: 100vh;
	width: 100vw;
}

.emo{
	position: absolute;
	width: auto;
	height: auto;
}