@import url(https://fonts.googleapis.com/css?family=Lato:900);
.bg {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bg .iframe-container {
	z-index: 5;
	width: 90vw;
	height: 60vw;
}

.iframe-container #frame {
	width: 100%;
	height: 100%;
}

.load-3 h1 {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	white-space: nowrap;
	font-size: 5vw;
	padding-bottom: 1vh;
}

.timer-container {
	position: absolute;
	z-index: 4;
	user-select: none;
	pointer-events: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100%;
	width: 100%;
}

#preCountdown {
	margin: auto;
	max-width: inherit;
	max-height: inherit;
}

#number-container {
	height: 30%;
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

svg {
	height: 100%;
	width: 200px;
}

.line {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 15px;
	background-color: black;
}

@keyframes loadingC {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(0, 15px);
	}
	100% {
		transform: translate(0, 0);
	}
}

.load-3 .line:nth-last-child(1) {
	animation: loadingC 0.6s 0.1s linear infinite;
}

.load-3 .line:nth-last-child(2) {
	animation: loadingC 0.6s 0.2s linear infinite;
}

.load-3 .line:nth-last-child(3) {
	animation: loadingC 0.6s 0.3s linear infinite;
}

#dots {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.emo-container {
	position: absolute;
	height: 100vh;
	width: 100vw;
	z-index: 3;
	user-select: none;
}

.emo {
	position: absolute;
	width: auto;
	height: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	user-select: none;
}

.controller-container {
	position: absolute;
	z-index: 3;
	display: flex;
	flex-direction: column;
	top: 100px;
}

.controller-container #controller-key {
	position: relative;
	width: 150px;
	height: auto;
	margin: auto;
}

.controller-container #controller-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: auto;
}